#jumbotron {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Hind', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bree Serif', serif;
}